@font-face {
    font-family: "Bahij Palatino Arabic";
    src: url('http://mmnaderi.ir/assets/fonts/Bahij_Palatino_Arabic-Regular.eot');
    src: url('Bahij_Palatino_Arabic-Regular.eot?#iefix') format('embedded-opentype'),
    url('Bahij_Palatino_Arabic-Regular.svg#Bahij Palatino Arabic') format('svg'),
    url('Bahij_Palatino_Arabic-Regular.woff') format('woff'),
    url('Bahij_Palatino_Arabic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Bahij Palatino Sans Arabic"; 
    src: url('Bahij_Palatino_Sans_Arabic-Bold.eot');
    src: url('Bahij_Palatino_Sans_Arabic-Bold.eot?#iefix') format('embedded-opentype'),
    url('Bahij_Palatino_Sans_Arabic-Bold.svg#Bahij Palatino Sans Arabic') format('svg'),
    url('Bahij_Palatino_Sans_Arabic-Bold.woff') format('woff'),
    url('Bahij_Palatino_Sans_Arabic-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'social4mmnaderi';
    src:url('social4mmnaderi.eot?b58k1k');
    src:url('social4mmnaderi.eot?b58k1k#iefix') format('embedded-opentype'),
        url('social4mmnaderi.ttf?b58k1k') format('truetype'),
        url('social4mmnaderi.woff?b58k1k') format('woff'),
        url('social4mmnaderi.svg?b58k1k#social4mmnaderi') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'social4mmnaderi' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {content: "\e907"}
.icon-bitbucket:before {content: "\e90a"}
.icon-gitlab:before {content: "\e908"}
.icon-slack:before {content: "\e900"}
.icon-github:before {content: "\e901"}
.icon-dribbble:before {content: "\e90b"}
.icon-facebook:before {content: "\e902"}
.icon-linkedin:before {content: "\e903"}
.icon-telegram:before {content: "\e904"}
.icon-instagram:before {content: "\e905"}
.icon-twitter:before {content: "\e906"}
.icon-library:before {content: "\e02f"}
.icon-mail:before {content: "\e0e1"}
.icon-phone:before {content: "\e61d"}